<!DOCTYPE html>

<html>
	
	<div id="wrap">
	
	<head>
		
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	
	<!-- IMPORTS -->
	<link rel="stylesheet" href="/bootstrap/bootstrap-responsive.css">
	<link rel="stylesheet" href="/bootstrap/bootstrap.css">
	<script language="javascript" src="/bootstrap/bootstrap.js"></script>
	<script language="javascript" src="/jquery.js"></script>
	<title>Udaman Series Grapher</title>
	<script src="../../d3.v3.min.js"></script>
	<script src="../../d3.layout.js"></script>
	<script src="../../rickshaw.min.js"></script>
	<script src="../../graphRickshaw.js"></script>
	<link rel="stylesheet" href="../../rickshaw.min.css">
	
	</head>

	<body>
		
		<!-- NAVBAR -->
		<div class="navbar navbar-inverse navbar-fixed-top" align="left">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="/">Udaman Series Grapher</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav pull-right">
	              <li><a href="/">Home</a></li>
	 			  <li class="active"><a href="/admin">Admin</a></li>
				  <li><a href="/admin/modify">Modify Admins</a></li>
				  <li><a href="/logout">Logout</a></li>
	            </ul>
	          </div>
	        </div>
	      </div>
		</div>
		
		<!-- SPACER -->
		<div class="container" id="spacer">
			<div class="row">
				<div class="span12">
					<p>
						<br>
						<br>
						<br>
					</p>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span5">
				<div class="row-fluid">
					<div class="span12 well container-narrow">
						<h3>Cache a Series</h3>
						<div class="span12 container-narrow">
							<form method="post" action='/admin/cache'>
								<input type="text" name="seriesNumber"/>
								<br>
								<input type="submit" value="Cache" class="btn"/>
							</form>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 well container-narrow">
						<div class="row-fluid">
							<div class="span6">
								<h3>Series Requests</h3>
								<p>Requested series.</p>
							</div>
							<div class="span6">
								<div align="right">
									<form method="post" action="/clearrequests">
										<input type="submit" value="Clear All" class="btn">
									</form>
								</div>
							</div>
						</div>
						<div class="row-fluid">
							<ul name="requestList">
								<%if !@all_requests.nil?%>
								<%@all_requests.each do |a|%>
								<li><%=a.series%>&nbsp;&nbsp;<a href="/admin/cacherequest/<%=a.series%>">Cache It</a> | <a href="/deleterequest/<%=a.series%>">Delete</a></li>
								<%end%>
								<%end%>
							</ul>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 well container-narrow">
						<div class="row-fluid">
							<div class="span6">
								<h3>Cached Series</h3>
							</div>
							<div class="span6">
								<div align="right">
									<form method = "post" action = "/clear">
										<input type = "submit" value = "Clear All" class = "btn"/>
									</form>
								</div>
							</div>
						</div>
						<div class="row-fluid">
							<ul name="seriesList">
								<% if !@all_files.nil? %>
								<%@all_files.each do |a| %>
								<li><%=a.description%>&nbsp;&nbsp;<br>Frequency: <%=a.frequency.capitalize	%>&nbsp;<a href="/admin/graphview/<%=a.name%>" rel="alternate">Chart</a> | <a href="/json/<%=a.name%>">JSON Format</a> | <a href="/delete/<%=a.name%>">Delete</a></li>
								<%end%>
								<%end%>
							</ul>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="span7">
				<div class="row-fluid">
					<div class="span12 well">
						<div class="row-fluid">
							<h3><%=@chartHeader%></h3>
							<div id="chart_container">
						        <div id="y_axis"></div>
						        <div id="chart"></div>
								<div id="timeline"></div>
							</div>
						</div>
						<div class="row-fluid">
							<h5>Add an Annotation:</h5>
							<form class="navbar-form" method="post" action="/annotation/add/<%=@name%>">
								<input class="span3" type="text" placeholder="Date (Ex. 2013-01-01)" name="annotated_date"/>
								<input class="span4" type="text" placeholder="Write a message" name="annotated_message"/>
								<button type="submit" class="btn">Write Annotation</button>
							</form>
						</div>
						<br>
						<div class="row-fluid">
							<a class="btn" href = "/embed/<%=@name%>">Embed this chart</a>
						</div>
						<script>
							var graph = new Rickshaw.Graph( {
							        element: document.querySelector("#chart"),
							        width: 760,
							        height: 360,
							        renderer: 'line',
							        series: [{
										name: 'Data',
										data: [
										<%@a = 0%>
										<%@array.each do |data|%>
										<%= "{ x: #{@a}, y: #{data} },"%>
										<%@a += 1%>
										<%end%>
									],
									color: "lightblue",
								}]
							} );

							var xTemp;

							var xarray = new Array();


							<%@arrayDate.each do |data|%>
							xarray.push("<%=data%>");
							<%end%>


							var hoverDetail = new Rickshaw.Graph.HoverDetail( {
							    graph: graph,
							    xFormatter: function(x) { xTemp = xarray[x]; return "" },
							    yFormatter: function(y) { return (Math.floor(y * 10)/10) + "<br>" + "Date: " + xTemp }
							} );
							
							var annotator = new Rickshaw.Graph.Annotate({
							    graph: graph,
							    element: document.getElementById('timeline')
							});
							
							
							<% if !@annotations.nil? %>
							<% @annotations.each do |a| %>

							annotator.add(<%=a.date%>, "#{<%=a.message%>}");
							<% end %>
							<% end %>

							var yAxis = new Rickshaw.Graph.Axis.Y({
							    graph: graph
							});


							var xAxis = new Rickshaw.Graph.Axis.X({
							    graph: graph,
								tickFormat: function(x) {return xarray[x]}
							});


							graph.render();
						</script>					
					</div>
				</div>
				<div class="row-fluid">
					<h3>JSON Source</h3>
					<p><%=@cached_json%></p>
				</div>
			</div>
		</div>
		
		<style type="text/css">

		         /* Sticky footer styles
		         -------------------------------------------------- */

		         html,
		         body {
		           height: 100%;
		           /* The html and body elements cannot have any padding or margin. */
		         }

		         /* Wrapper for page content to push down footer */
		         #wrap {
		           min-height: 100%;
		           height: auto !important;
		           height: 100%;
		           /* Negative indent footer by it's height */
		           margin: 0 auto -60px;
		         }

		         /* Set the fixed height of the footer here */
		         #push,
		         #footer {
		           height: 60px;
		         }
		         #footer {
		           background-color: #f5f5f5;
		         }

		         /* Lastly, apply responsive CSS fixes as necessary */
		         @media (max-width: 767px) {
		           #footer {
		             margin-left: -20px;
		             margin-right: -20px;
		             padding-left: 20px;
		             padding-right: 20px;
		           }
		         }
		
				 .container .credit {
				           margin: 20px 0;
				         }

		       </style>
		
		<div id="spacer">
			<p>
				<br>
				<br>
				<br>
			</p>
		</div>
		
		</body>
		
		
		
		</div>
		
	<div id="footer">
		<div class="container">
	    	<center><p class="muted credit">This page was created by Connor Douglas, Derek Renusch, and Christopher Swider for the UHERO Network</p></center>
		</div>
	</div>
		
		
</html>