<!DOCTYPE html>

<html>
	
	<div id="wrap">
	
	<head>
		
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	
	<!-- Imports! -->
	<link rel="stylesheet" href="/bootstrap/bootstrap-responsive.css">
	<link rel="stylesheet" href="/bootstrap/bootstrap.css">
	<script language="javascript" src="/bootstrap/bootstrap.js"></script>
	<script language="javascript" src="/jquery.js"></script>
	<script src="../d3.v3.min.js"></script>
	<script src="../d3.layout.js"></script>
	<script src="../rickshaw.min.js"></script>
	<script src="../buildin.js"></script>
	<link rel="stylesheet" href="../../rickshaw.min.css">
	
	<title>Udaman Series Grapher</title>
	
	</head>

	<body>
		
		<div class="navbar navbar-inverse navbar-fixed-top" align="left">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">Udaman Series Grapher</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav pull-right">
	              <li class="active"><a href="#">Home</a></li>
				  <li><a href="/admin">Admin</a></li>
	            </ul>
	          </div>
	        </div>
	      </div>
		</div>
		
		<div class="container" id="spacer">
			<div class="row">
				<div class="span12">
					<p>
						<br>
						<br>
						<br>
					</p>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span5">
				<div class="row-fluid">
					<div class="span12 buildMeIn well container-narrow">
						<h3>Request a Series</h3>
						<p>Input the id of a udaman series and we will cache it for you!</p>
						<div class="span12 container-narrow">
							<form method="post" action='/request'>
								<input type="text" name="seriesRequest"/>
								<input type="submit" value="Send" class="btn"/>
							</form>
							
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 buildMeIn well container-narrow">
						<h3>Cached Series</h3>
						<ul name="seriesList">
							<% if !@all_files.nil? %>
							<%@all_files.each do |a| %>
							<li><%=a.description%>&nbsp;<br>Frequency: <%=a.frequency.capitalize	%>&nbsp;<a href="graphview/<%=a.name%>" rel="alternate">Chart</a> | <a href="/json/<%=a.name%>">JSON Format</a></li>
							<%end%>
							<%end%>
						</ul>
					</div>
				</div>
			</div>
			<div class="span7">
				<div class="row-fluid">
					<div class="span12 buildMeIn well">
						<h3><%=@chartHeader%></h3>
						<div id="chart_container">
						        <div id="y_axis"></div>
						        <div id="chart"></div>
						</div>
						<p>
							<br>
						</p>
					
						<script>
						
						var seriesData = [ [], [], [], [], [], [], [], [], [] ];
						var random = new Rickshaw.Fixtures.RandomData(250);

						for (var i = 0; i < 250; i++) {
							random.addData(seriesData);
						}

						var palette = new Rickshaw.Color.Palette( { scheme: 'spectrum2000' } );

						var graph = new Rickshaw.Graph( {
						        element: document.querySelector("#chart"),
						        width: 760,
						        height: 360,
						        renderer: 'line',
						        series: [// {
						        // 									name: 'Data',
						        // 									data: [{ x: 0, y: 1 }, { x: 1, y: 1 }, { x: 2, y: 2 }, { x: 3, y: 3 }, { x: 4, y: 5 }, { x: 5, y: 8 }, { x: 6, y: 13 }, { x: 7, y: 21 }, { x: 8, y: 34 }, { x: 9, y: 55 }, { x: 10, y: 89 }, { x: 11, y: 144 }, { x: 12, y: 233 }, { x: 13, y: 377 }, { x: 14, y: 610 }, { x: 15, y: 987 }, { x: 16, y: 1597 }, { x: 17, y: 2584 }, { x: 18, y: 4181 }, { x: 19, y: 6765 }, { x: 20, y: 10946 }, { x: 21, y: 17711 }, { x: 22, y: 28657 }, { x: 23, y: 46368 }, { x: 24, y: 75025 }, { x: 25, y: 121393 }],
						        // 								color: "lightblue",
						        // 										},
										{
										name: 'RandomData',
										data: seriesData[0],
										color: 'lightblue'
										}
							]
						} );


						/*var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
						    graph: graph,
						    legend: legend
						});
						*/
						var xTemp;

						var xarray = new Array();


						
						xarray.push("0");
						


						var hoverDetail = new Rickshaw.Graph.HoverDetail( {
						    graph: graph,
						    xFormatter: function(x) { xTemp = xarray[x]; return "" },
						    yFormatter: function(y) { return Math.floor(y) + "<br>" + "Date: " + xTemp }
						} );

						var yAxis = new Rickshaw.Graph.Axis.Y({
						    graph: graph
						});


						var xAxis = new Rickshaw.Graph.Axis.X({
						    graph: graph,
							tickFormat: function(x) {return xarray[x]}
						});


						graph.render();

						</script>
					</div>
					<h3>JSON Source</h3>
				</div>
				<div class="row-fluid buildMeIn">
					<div class="container">
						<p><%=@cached_json%></p>
					</div>
				</div>
			</div>
		</div>
		
		<style type="text/css">

		         /* Sticky footer styles
		         -------------------------------------------------- */

		         html,
		         body {
		           height: 100%;
		           /* The html and body elements cannot have any padding or margin. */
		         }

		         /* Wrapper for page content to push down footer */
		         #wrap {
		           min-height: 100%;
		           height: auto !important;
		           height: 100%;
		           /* Negative indent footer by it's height */
		           margin: 0 auto -60px;
		         }

		         /* Set the fixed height of the footer here */
		         #push,
		         #footer {
		           height: 60px;
		         }
		         #footer {
		           background-color: #f5f5f5;
		         }

		         /* Lastly, apply responsive CSS fixes as necessary */
		         @media (max-width: 767px) {
		           #footer {
		             margin-left: -20px;
		             margin-right: -20px;
		             padding-left: 20px;
		             padding-right: 20px;
		           }
		         }
		
				 .container .credit {
				           margin: 20px 0;
				         }

		       </style>
			<div id="spacer">
				<p>
					<br>
					<br>
					<br>
				</p>
			</div>
		
		</body>
		
		</div>
		
	<div id="footer">
		<div class="container">
	    	<center><p class="muted credit">This page was created by Connor Douglas, Derek Renusch, and Christopher Swider for the UHERO Network</p></center>
		</div>
	</div>
		
		
</html>